<h1 class="text-primary mb-4">Add New Account</h1>

<%= form_with model: [@bank, @account], local: true, class: "p-4 border rounded shadow" do |form| %>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :account_number, class: "form-label" %>
      <%= form.text_field :account_number, class: "form-control", placeholder: "Enter Account Number", 
        title: "Only numbers are allowed", required: true %>
    </div>

    <div class="col-md-6">
      <%= form.label :account_holder_name, class: "form-label" %>
      <%= form.text_field :account_holder_name, class: "form-control", placeholder: "Enter Account Holder Name", 
           pattern: "[a-zA-Z\s]*", title: "Only letters and spaces are allowed", required: true %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :opening_amount, class: "form-label" %>
      <%= form.number_field :opening_amount, step: :any, class: "form-control", placeholder: "Enter Opening Amount", required: true %>
    </div>

    <div class="col-md-6">
      <%= form.label :opening_bonus, class: "form-label" %>
      <%= form.number_field :opening_bonus, step: :any, class: "form-control", placeholder: "Enter Opening Bonus", required: true %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :closing_amount, class: "form-label" %>
      <%= form.number_field :closing_amount, step: :any, class: "form-control", placeholder: "Closing Amount", required: true %>
    </div>
  </div>

  <div class="d-flex justify-content-start mt-4">
    <%= form.submit 'Save', class: "btn btn-warning px-4 me-2" %>
    <%= link_to 'Reset', request.referrer, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
